@import '@style/_mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: 600;

  @include with-text-overflow;

  &::first-letter {
    text-transform: uppercase;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  @include with-text-overflow;
  text-wrap: wrap;
}
