.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.input {
  height: 24px;
  width: 24px;
  margin-right: 10px;

  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.label {
  height: 28px;
  max-width: calc(100% - 34px);
  min-width: calc(100% - 34px);

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    border: 2px solid var(--clr-secondary-200);
    border-radius: 5px;
  }
}

.content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input:hover + label {
  &::after {
    background-color: var(--clr-accent-A-200);
    border: 2px solid var(--clr-accent-A-400);
  }
}

.input:checked + label {
  &::after {
    background-color: var(--clr-accent-A);
    border: 2px solid var(--clr-accent-A-400);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 2px;
  width: 24px;
  height: 24px;
  pointer-events: none;

  & > svg {
    fill: var(--clr-primary);
  }
}
