@import '@style/_mixins';
@import '@style/_media';

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 30px;
}

.info_tags {
  padding: 5px 15px;

  display: flex;
  gap: 12px;
}

.left_section {
  width: calc((100vw - 120px) / 2);
}

.picture_gallery {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.gallery_secondary {
  display: flex;

  gap: 40px;
}

.picture {
  border-radius: 12px;

  aspect-ratio: auto 4/3;
}

.picture_secondary {
  width: 50%;

  border-radius: 12px;
  aspect-ratio: auto 4/3;
}

.right_section {
  width: calc((100vw - 120px) / 2);

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info_header {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    font-size: 32px;
    font-weight: 600;

    word-break: break-all;
  }

  .reviews {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .reviews_count {
    font-size: 12px;
    font-weight: 400;

    color: var(--clr-secondary-300);
    @include with-text-overflow;
  }
}

.description {
  display: flex;

  font-size: 17px;
  font-weight: 400;

  overflow-x: hidden;
  word-break: break-all;
}

.additional_info {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 50%));
  gap: 30px;

  font-size: 14px;
  font-weight: 400;
}

.list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;

  // background-color: yellow;
}

.item {
  display: flex;
  gap: 16px;
}

.info_title {
  min-width: 100px;
  max-width: 100px;

  color: var(--clr-secondary-300);

  @include with-text-overflow;

  &::first-letter {
    text-transform: uppercase;
  }
}

.info_text {
  @include with-text-overflow;
}

.toolbar_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.toolbar {
  padding: 16px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 24px;

  @include with-border;

  .add_icon {
    color: var(--clr-accent-A-300);
  }
}

.prices {
  width: 200px;
  flex: 1;

  .price {
    font-size: 26px;
    font-weight: 600;

    text-wrap: nowrap;
  }

  .discount {
    font-size: 14px;
    font-weight: 600;
    color: var(--clr-secondary-300);
    text-decoration: line-through;
    text-wrap: nowrap;
  }
}

@include desktop {
  .additional_info {
    display: flex;
    flex-direction: column;
  }
}

@include laptop {
  .wrapper {
    flex-direction: column;
  }

  .picture_gallery {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    .gallery_secondary {
      width: calc(30%);

      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    .picture {
      width: 70%;
    }

    .picture_secondary {
      width: 100%;
      aspect-ratio: 1;
    }
  }

  .left_section {
    width: calc(100vw - 30px);
  }

  .right_section {
    width: calc(100vw - 30px);
  }

  .additional_info {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 50%));
  }
}

@include tablet {
  .left_section {
    width: calc(100vw - 20px);
  }

  .right_section {
    width: calc(100vw - 20px);
  }

  .picture_gallery {
    max-width: calc(100vw - 20px);

    overflow: auto;
  }

  .picture {
    flex: 1;
  }
}

@include mobile {
  .gallery_secondary {
    display: none;
  }

  .additional_info {
    display: flex;
    flex-direction: column;
  }
  .info_header {
    .title {
      font-size: 24px;
    }
  }
}
