@import '@style/_mixins';
@import '@style/_media';
@import '@style/_variables';

.container {
  width: 100%;
  padding: 10px 16px;

  display: flex;
  align-items: center;
  flex: 1;

  background-color: $clr_overlay;
  @include with-border;
}

.left_el {
  padding-right: 24px;
  border-right: 1px solid var(--clr-secondary-200);
}

.right_el {
  padding-left: 24px;
  flex: 1;
}

@include small-mobile {
  .wrapping {
    flex-direction: column;
    align-items: flex-start;

    .left_el {
      width: 100%;
      padding: 0px 0px 10px 0px;
      border-right: none;
      border-bottom: 1px solid var(--clr-secondary-200);
    }

    .right_el {
      width: 100%;
      padding: 10px 0px 0px 0px;
    }
  }
}
