@import '@style/_mixins';

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 200px;
  min-height: 150px;
  overflow: auto;

  & > li {
    font-size: 14px;
    font-weight: 400;
  }

  @include with-scrollbar(10px);
}
