@import '@style/_mixins';

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 200px;
  min-height: 150px;
  overflow: auto;

  @include with-scrollbar(10px);
}

.item {
  font-size: 14px;
  font-weight: 400;
}
