@import '@style/_mixins';
@import '@style/_media';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.form_grid {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, minmax(250px, auto));
  gap: 32px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 14px;
  font-weight: 400;
}

.checkbox {
  min-width: 60%;
  max-width: auto;
  @include with-border-bg;
}

.agreement {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  text-wrap: wrap;

  & > a {
    text-decoration: underline;
  }
}

.marketing {
  text-wrap: wrap;
}

@include mobile {
  .submit {
    display: flex;
    flex-direction: column;
  }
  .form_grid {
    grid-template: repeat(8, 1fr) / repeat(1, minmax(280px, auto));
  }
}
