@import '@style/_media';
@import '@style/_variables';

.container {
  background-color: $clr_white;
}

.overlay {
  position: relative;
  z-index: 100;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;

    height: 100%;
    width: calc(100vw - 15px);

    background-color: $clr_overlay;

    z-index: -10;
  }
}

.main_block {
  padding: 16px 0px;
  padding-left: 17px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@include laptop {
  .overlay {
    &::after {
      left: -15px;
      width: 100vw;
    }
  }
}

@include tablet {
  .main_block {
    padding: 16px 0px;
  }

  .overlay {
    &::after {
      left: -10px;
    }
  }
}
