.slider_container {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--clr-secondary-200);
  display: flex;

  border-radius: 5px;

  & > input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: none;
    pointer-events: none;
    appearance: none;
  }
}

input[type='range']::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid var(--clr-secondary-200);
  background: var(--clr-primary);
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
}

.disabled {
  &::-webkit-slider-thumb {
    display: none;
  }
}

.slider_track {
  height: 100%;
  position: absolute;
  left: 10%;
  right: 20%;
  background-color: var(--clr-accent-A);
  border-radius: 5px;
}
