@import '@style/_media.scss';

.container {
  position: relative;
  padding: 16px 0px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-wrap: nowrap;

  border-bottom: 1px solid var(--clr-secondary-100);
}

.list {
  display: flex;
  gap: 30px;
}

@include tablet {
  .container {
    padding: 10px 10px;

    overflow: hidden;
    gap: 10px;
  }

  .list {
    gap: 10px;
    flex-direction: column;
  }

  .list:last-child {
    text-align: right;
  }
}
