@import '@style/_media';

.container {
  padding: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  color: var(--clr-accent-C);
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

@include mobile {
  .container {
    padding: 48px 0px;
  }
}
