@import '@style/_variables';

.container {
  display: flex;
  gap: 3px;

  & > svg {
    width: 16px;
    height: 16px;

    fill: var(--clr-secondary);
  }
}

.active {
  & > svg {
    fill: $clr_gold;
  }
}
