@import '@style/_mixins';

.skeleton {
  pointer-events: none;
  animation: skeleton-loading 1s linear infinite alternate;
}

.title {
  height: 32px;
  width: 70%;
  border-radius: 12px;
}

.review {
  height: 14px;
  width: 180px;
  border-radius: 12px;
}

.stars {
  display: flex;
  gap: 5px;
}

.tooltip_container {
  padding: 15px 10px;
  display: flex;
  gap: 20px;
}

.tooltip {
  height: 20px;
  width: 80px;

  border-radius: 10px;

  animation: skeleton-loading 1s linear infinite alternate;
}

.star {
  width: 16px;
  height: 16px;

  border-radius: 5px;

  animation: skeleton-loading 1s linear infinite alternate;
}

.select {
  height: 30px;
  width: 150px;

  border-radius: 12px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.item {
  height: 20px;
  width: 180px;
  border-radius: 12px;

  animation: skeleton-loading 1s linear infinite alternate;
}

.no_border {
  border: 'none';
}

.with_margin_bottom {
  margin-bottom: 15px;
}

.with_margin {
  margin-bottom: 5px;
}

.with_padding {
  padding: 10px;
}

.description {
  height: 80px;
  border-radius: 12px;
}

.suggestions_container {
  width: 100%;
  display: flex;
  gap: 32px;

  overflow: hidden;
}

.suggestions_item {
  width: 250px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .suggestions_img {
    width: 100%;
    height: 180px;
    border-radius: 12px;

    animation: skeleton-loading 1s linear infinite alternate;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .prices {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .btn {
    width: 90px;
    height: 35px;
    border-radius: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  .price {
    width: 90px;
    height: 16px;
    border-radius: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

@include with-skeleton;
