@import '@style/_media';

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  width: 250px;
}

.close_btn {
  display: none;
}

@include desktop {
  .container {
    width: 200px;
  }
}

@include tablet {
  .container {
    width: 100vw;
    height: 100vh;
    padding: 50px 30px;

    position: fixed;
    top: 0;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(2, calc((100vw - 80px) / 2));
    column-gap: 20px;
    row-gap: 0px;
    transition: transform 0.3s;
    transform: translateX(100%);

    background-color: var(--clr-primary);
    overflow: auto;
  }

  .close_btn {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;

    & > button > svg {
      width: 24px;
      height: 24px;
    }
  }

  .opened {
    transform: translateX(0%);
  }
}

@include mobile {
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
