@import '@style/_media';

.container {
  width: 250px;
}

.header {
  display: none;

  height: 40px;

  align-items: center;
  justify-content: flex-end;

  background-color: var(--clr-primary);

  & > button > svg {
    width: 24px;
    height: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@include desktop {
  .container {
    width: 200px;
  }
}

@include tablet {
  .container {
    width: 100vw;
    height: 100vh;
    padding-left: calc(100vw - 400px);

    position: fixed;
    top: 0;
    z-index: 100;

    transition: transform 0.3s;
    transform: translateX(100%);
    background-color: transparent;
    overflow: auto;
  }

  .header {
    display: flex;
    position: sticky;
    top: 0;
  }

  .content {
    background-color: var(--clr-primary);

    padding: 0px 30px 30px;
  }

  .opened {
    transform: translateX(0%);

    transition: background-color 0.5s;
    transition-delay: 0.1s;

    background-color: rgba(black, 0.5);
  }
}

@include mobile {
  .container {
    padding-left: 0;
  }

  .header {
    width: 100vw;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
