.container {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: currentColor;
}

.small {
  width: 12px;
  height: 12px;
}

.mid {
  width: 16px;
  height: 16px;
}

.large {
  width: 24px;
  height: 24px;
}
