@import '@style/_media.scss';

.container {
  position: relative;
}

.title {
  padding-bottom: 16px;

  font-size: 18px;
  font-weight: 600;
}

.content {
  display: block;
}

.expand_btn {
  position: absolute;
  top: 5px;
  right: 0px;

  display: none;

  padding: 4px 19px;

  align-items: center;

  background-color: transparent;

  color: var(--clr-accent-A);
}

@include tablet {
  .container {
    padding-bottom: 25px;
  }

  .title {
    margin-bottom: 16px;
    padding-bottom: 0px;
    border-bottom: 1px solid var(--clr-secondary-200);
  }

  .content {
    display: none;
  }

  .expand_btn {
    display: flex;
  }
}

.expanded {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}
