@import '@style/_mixins';

.container {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10px;

  flex: 1;
}

.btn_default {
  & > svg {
    width: 12px;
    height: 12px;
    fill: var(--clr-secondary);
  }
}

.btn_primary {
  & > svg {
    width: 15px;
    height: 15px;
    fill: var(--clr-accent-A);
  }
}

.btn_secondary {
  & > svg {
    width: 12px;
    height: 12px;
    fill: var(--clr-accent-A);
  }
}

.option_text {
  &::first-letter {
    text-transform: uppercase;
  }
}

.default {
  font-size: 12px;
  font-weight: 600;
}

.primary {
  width: 110px;

  overflow: hidden;

  font-size: 15px;
  font-weight: 700;
  text-overflow: ellipsis;
}

.secondary {
  max-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 15px;
  font-weight: 500;
}
