@import '@style/_media.scss';

.navbar {
  padding: 16px 45px;
  background-color: var(--clr-secondary-100);

  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  font-size: 15px;
  font-weight: 500;

  & > li {
    text-wrap: nowrap;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@include tablet {
  .navbar {
    padding: 16px 20px;
    gap: 10px;
  }
}
