@import '@style/_media.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: 10px;
}

.logo {
  padding: 16px 0px;
}

.search_bar {
  margin: 0 auto;
  min-width: 380px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.select {
  display: flex;
  align-items: center;
  gap: 10px;

  text-wrap: nowrap;
  font-weight: bold;
  font-size: 15px;

  & > svg {
    width: 15px;
    height: 15px;
    fill: var(--clr-accent-A);
  }
}

@include tablet {
  .container {
    gap: 5px;
  }

  .logo {
    padding: 6px 0px;
  }

  .search_bar {
    order: 3;
    width: 100%;
    min-width: auto;
  }
}
