/* COLOR SCHEME */

$clr_white: #fdfdfd;
$clr_gold: #fdbc15;

$clr_black: #151515;
$clr_black_400: #575757;
$clr_black_300: #a9a9a9;
$clr_black_200: #d1d1d1;
$clr_black_100: #ebebeb;

$clr_green: #6a983c;
$clr_green_400: #46760a;
$clr_green_300: #92c064;
$clr_green_200: #c8deb3;
$clr_green_100: #f4f8ec;

$clr_brown: #d0a866;
$clr_brown_400: #b28a48;
$clr_brown_300: #ecd2a6;
$clr_brown_200: #faedd8;
$clr_brown_100: #fff9f0;

$clr_orange: #e5704b;
$clr_orange_400: #c7522d;
$clr_orange_300: #eb8d70;
$clr_orange_200: #f7c6b7;
$clr_orange_100: #fff1ed;

$clr_aqua: #37d0d6;
$clr_aqua_400: #19b2b8;
$clr_aqua_300: #7cd0d3;
$clr_aqua_200: #b9e6e8;
$clr_aqua_100: #ecf6f6;

$clr_overlay: #f9f9f9;

/* BORDER RADIUS*/

$border_radius: 12px;

/* BREAK POINTS */

$breakpoint_desktop: 1200px;
$breakpoint_laptop: 1024px;
$breakpoint_tablet: 767px;
$breakpoint_mobile: 576px;
