@import '@style/_media';
@import '@style/_mixins';

.header {
  padding: 8px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & > h1 {
    font-size: 32px;
    font-weight: 600;
  }
}

.totals {
  display: flex;
  gap: 5px;

  font-size: 12px;
  font-weight: 400;
  color: var(--clr-secondary-300);
}

.main {
  padding: 65px 0px 35px;

  display: flex;
  gap: 30px;
}

.footer {
  padding: 16px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pagination_container {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 12px;
  font-weight: 400;
  color: var(--clr-secondary-300);
}

@include laptop {
  .main {
    padding: 15px 0px;
  }
}

@include tablet {
  .footer {
    flex-direction: column-reverse;
  }

  .totals {
    width: 100%;
    justify-content: flex-end;
  }
}
