@import '@style/_media';

.header {
  padding: 8px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & > h1 {
    font-size: 32px;
    font-weight: 600;
  }
}

.sort_container {
  display: flex;
  justify-content: flex-end;

  padding: 30px 0px;
}

.filer_btn {
  & > svg {
    height: 24px;
    width: 24px;
    fill: var(--clr-secondary);
  }
}

.totals {
  display: flex;
  gap: 5px;

  font-size: 12px;
  font-weight: 400;
  color: var(--clr-secondary-300);
}

.main {
  padding: 65px 0px 35px;

  display: flex;
  gap: 30px;
}

.footer {
  padding: 16px 0px;

  display: flex;
  justify-content: flex-end;
}

@include laptop {
  .main {
    padding: 15px 0px;
  }
}
