@import '@style/_media';

.container {
  border-radius: $border_radius;
  overflow: hidden;
}

.fixed {
  width: 270px;
  height: 283px;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@include tablet {
  .fixed {
    width: 250px;
  }
}

@include mobile {
  .fixed {
    width: 100%;
    margin: 0 auto;
  }
}
