.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.legend {
  font-size: 22px;
  font-weight: 600;
}

.info {
  font-size: 14px;
  font-weight: 400;

  color: var(--clr-secondary-300);
}
