@import '@style/_media';
@import '@style/_variables';

.container {
  padding: 64px 0px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-wrap: nowrap;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tags_container {
  padding: 48px 0px;
}

.tags_list {
  padding-top: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tag_item {
  padding: 4px 10px;

  background-color: var(--clr-secondary-100);
  border-radius: $border_radius;

  font-size: 12px;
  font-weight: 600;
}

.copyright {
  padding: 10px 0px;

  text-align: center;
  font-size: 14px;
}

@include tablet {
  .container {
    padding: 10px 0px;
  }

  .nav_container {
    flex-direction: column;
    gap: 0px;
  }

  .tags_container {
    padding: 16px 0px;
  }
}
