@import '@style/_media';

.container {
  padding: 65px 0px 35px;
  display: flex;
  gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

@include laptop {
  .container {
    padding: 15px 0px;
  }
}
