@import '@style/_media';
@import '@style/_variables';

.container {
  padding: 48px 0px;
}

.list {
  padding-top: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.item {
  padding: 4px 10px;

  background-color: var(--clr-secondary-100);
  border-radius: $border_radius;

  font-size: 12px;
  font-weight: 600;
}

@include tablet {
  .container {
    padding: 16px 0px;
  }
}
