@import '@style/_media';
@import '@style/_mixins';

.list {
  padding-bottom: 80px;
  max-height: 50vh;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @include with-scrollbar(10px);
}

.container {
  min-height: 160px;
  padding-bottom: 16px;

  display: flex;
  gap: 16px;

  border-bottom: 1px solid var(--clr-secondary-200);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img {
  position: relative;
  width: 100px;
  height: 70px;
  margin: 2px;

  box-shadow: 0px 0px 2px var(--clr-secondary-300);
  border-radius: 12px;
}

.discount {
  position: absolute;
  top: 5px;
  left: 5px;

  transform: scale(0.8);
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.icon_heart {
  color: var(--clr-accent-C);
  & > svg {
    margin-right: 2px;
    height: 14px;
    width: 14px;
  }
}

.btn {
  font-size: 14px;
  font-weight: 300;
  color: var(--clr-secondary-300);

  &:hover {
    color: var(--clr-secondary);
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  max-width: 100%;
  overflow: hidden;

  width: fit-content;
  font-size: 15px;
  font-weight: 500;
  word-break: break-word;
}

.description_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}

.description_item {
  display: flex;
  gap: 10px;
}

.description_title {
  min-width: 80px;
  max-width: 80px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  color: var(--clr-secondary-300);
}

.description_text {
  max-width: 200px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  &::first-letter {
    text-transform: uppercase;
  }
}

.input {
  width: 30px;
  background-color: transparent;
}

.price_section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.select_section {
  padding-right: 25px;
}

.price {
  max-width: 40%;
  overflow: hidden;

  font-size: 18px;
  font-weight: 600;
  color: var(--clr-accent-A);
  word-break: break-word;
}

@include tablet {
  .list {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@include mobile {
  .container {
    flex-direction: column;
  }

  .left {
    flex-direction: row;
    justify-content: space-between;
  }
}

@include small-mobile {
  .price_section {
    flex-direction: column;
  }

  .price {
    max-width: 100%;
  }

  .input {
    width: calc(100vw - 250px);
  }

  .description_item {
    justify-content: space-between;
  }
}
