@import '@style/_variables';

.container {
  min-height: 50vh;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 36px;
}

.logo {
  color: var(--clr-accent-A);
}

.cta_btn {
  display: block;
  padding: 12px 16px;

  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: var(--clr-primary);

  background-color: var(--clr-accent-A-300);

  border: 1px solid var(--clr-accent-A);
  border-radius: $border_radius;

  &:hover {
    background-color: var(--clr-accent-A-400);
  }
}
